.app .page-header > small {
    margin-top: 15px;
}

.app .table-machines {
    border: none;
    margin: 0;
}

.app .table-machines > .table > tbody > tr > td,
.app .table-machines > .table > tbody > tr > th,
.app .table-machines > .table > thead > tr > td,
.app .table-machines > .table > thead > tr > th,
.app .table-machines > .table > tfoot > tr > td,
.app .table-machines > .table > tfoot > tr > th {
    border: none;
    font-size: 12px;
    padding: 2px;
}